name: Build
on:
  push:
    branches: [ main ]

env:
  CANDELA: main # unused

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4.1.5

      - name: Build candela-3
        uses: addnab/docker-run-action@v3
        with:
          image: kvnnap/clang:github
          options: -v ${{github.workspace}}:/workdir -w /workdir
          run: |
            cmake -S . -B build -G "Ninja Multi-Config" -DCMAKE_INSTALL_PREFIX:PATH=$PWD/install -DBUILD_SHARED_LIBS:BOOL=ON
            cmake --build build --config Release --parallel --target install

      - name: Set SHA_SHORT
        id: vars
        run: echo "sha_short=$(echo $GITHUB_SHA | cut -c 1-6)" >> $GITHUB_OUTPUT

      - name: Push artifact
        uses: actions/upload-artifact@v4.3.3
        with:
          name: candela-3-${{ steps.vars.outputs.sha_short }}
          path: install
          retention-days: 14
